@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

.main-container {
  margin: 0 5%;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin: 1rem 0 0.5rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.loading {
  padding: 0.5rem;
  margin: 1rem 0 0.5rem;
}